.App-header {
  background-color: #ccc;
  min-height: 10vh;
  padding:10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

